<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용 허용하기 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Storage 쓰기/읽기 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 카메라 API 사용 -->
    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StuCamp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".wish.WishListActivity"
            android:exported="false" />
        <activity
            android:name=".MyFeedUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".FeedChangeActivity"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="true" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".chatlist.ChatListCreate"
            android:exported="true" />
        <activity
            android:name=".MyFeedActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".TimerActivity"
            android:exported="true" />
        <activity
            android:name=".NameInputActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarActivity"
            android:exported="true" />
        <activity
            android:name=".FeedWriteActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MemDeleteActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login2" />
        <activity
            android:name=".MemInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="7480995f399f515c42165e970519c34d" />
    </application>

</manifest>